::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
}

.custom-title {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 70px;
  line-height: 76px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
}

.custom-title-mediano {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 30px;
  line-height: 76px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
}

.rounded-custom-large {
  border-top-left-radius: 10rem;
}

.letra-aonick {
  font: normal normal bold 17px/20px Aeonik;
  letter-spacing: 0px;
  color: #F3F3F3;
  opacity: 1;
}

.cabin-mediado-sin-bord {
  font-family: "Cabin", sans-serif;
  font-size: calc(16px + 4px);
}

.cabin-mediado {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: calc(16px + 4px);
}

.cabin-small {
  font-family: "Cabin", sans-serif;
  color: white;
  font-weight: bold;
  font-size: calc(13px + 4px);
}

.last-item {
  list-style-type: none;
}

.tittle-politica{
  font-family: "Cabin", sans-serif;
  color: black;
  font-weight: bold;
  font-size: calc(18px + 8px);
}

.desc-politica{
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: calc(13px + 4px);
}