::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
}

@font-face {
  font-family: 'Aeonik';
  src: url('../Aeonik/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nordeco';
  src: url('../Nordeco/Fontspring-DEMO-nordeco-bold.otf') format('opentype');
  font-style: normal;
}

.text-header {
  font-variant: normal;
  font-size: 22px;
  line-height: 35px;
  font-family: 'Aeonik', sans-serif;
}

.text-aonik-1 {
  font-variant: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Aeonik', sans-serif;
}

.text-aonik-2 {
  font-variant: normal;
  font-size: 21px;
  line-height: 24px;
  font-family: 'Aeonik', sans-serif;
}

.text-aonik-3 {
  font-size: 33px;
  line-height: 38px;
  font-family: 'Aeonik', sans-serif;
}

.tittle{
  font-variant: normal;
  font-size: 70px;
  line-height: 76px;
  font-family: 'Nordeco', sans-serif;
}

.tittle-2{
  font-variant: normal;
  font-size: 50px;
  line-height: 56px;
  font-family: 'Nordeco', sans-serif;
}